.red {
    color: blueviolet
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    .box {
        background-color: green;
        width: 100px;
        height: 100px;
    }
}

.bg {
    background-color: antiquewhite;
}