@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.ttf') format('truetype');
}

.hello {
    color: red;
}
.div-bg {
    width: 200px;
    height: 40px;
    background: url('../image/webpack-logo.svg') no-repeat !important;
    background-size: 100% 100%;
}

.icon {
    font-family: "iconfont" !important;
    font-size: 30px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}